.about {
    padding-top: 5rem;
}

.about__title {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--primary);
}

.about__display-image {
    position: relative;
    z-index: 3;
}

@media (min-width: 992px) {
    .about__display-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about__display-image img {
        width: 440px;
        height: 540;
    }
    
}

@media (min-width: 1080px) {
    .about__display-image img {
        width: 85%;
        height: auto;
    }
    
}
